<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />

<section class="container has-text-centered ">
    <h1 class="title  has-text-white is-1 my-4">Polls App</h1>
</section>

<section id="qstn">
    <div class="container has-background-light p-4">
        {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
         <li class="is-size-4"><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
    </div>
</section>
